<form action="/add_station" method="post">
    <h3>Add New Station</h3>
    <p>How many bikes will your station hold?
      <br />
      <select name ="capacity">
      	<option value="10">10</option>
      	<option value="20">20</option>
      	<option value="30">30</option>
      	<option value="40">40</option>
      	<option value="50">50</option>
      </select>
</form>