<form action="/bikes" method="post">
    <h3>Add New Bike</h3>
    <p>What is the status of your bike?
      <br />
      <input type="radio" name="status" value="Fixed" checked="checked" /> Fixed
      <input type="radio" name="status" value="Broken" /> Broken
      <br />
      <br />
      <input type="submit" name="create" value="Create" />
    </p>
</form>