<h3>Bikes</h3>
<a href="/add_bikes">Add New Bike</a><br />
<a href="/delete_bikes">Delete Bike</a>
<br /><br />
<h3>Stations</h3>
<a href="/add_station">Add New Station</a><br />
<a href="/delete_station">Delete Station</a>